<% random_movie = @movies.sample %>

<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(2, 6, 23, 0.2),rgba(2, 6, 23, 0.8)), url(<%= random_movie.poster_url %>);">
  <div class="container banner-text">
    <h1>Watch the greatest movies</h1>
    <p>Featured: <%= random_movie.title %></p>
  </div>
</div>

<div class="container">
  <%= link_to "+ Add a list!", new_list_path, class: "mt-4 btn btn-primary rounded rounded-lg"%>
  <div class="cards mt-4">
  <% if @lists.any? %>
    <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path list.photo.key, height: 300, crop: :fill) : image_path(random_movie.poster_url) %>)">
        <h2><%= list.name %></h2>
        <%= link_to "", list_path(list) %>
      </div>
    <% end %>
  <% else %>
    <h2>There are no lists yet!</h2>
  <% end %>
  </div>
</div>
