<div class="mt-4 container">
  <%= link_to "<- back", list_path(@list), class: "btn btn-primary"%>
</div>

<div class="mt-4 container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: @movies, include_blank: false%>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-primary"%>
  <% end %>
</div>
